body {
    background-color: lightblue;
}
button {
    text-align: center;
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block;
    padding: 10px 0;
    margin: 20px auto;
}
div {
    text-align: center;     
}
img {
    max-width: 214;
    max-height: 170;
}
input {
    text-align: left;
    width: 100%;
    max-width: 300px;
    height:  auto;
    padding: 10px;
    margin: 10px auto;
}