body {
    background-color: lightblue;
}
label {
    text-align: left;
    max-width: 100px;
    padding: 0px 0;
    margin: 0px auto;
}
div {
    text-align: left;     
}
input {
    text-align: left;
    width: auto;
    max-width: 100px;
    height: auto;
    padding: 10px;
    margin: 10px 10px;
}
